@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=REM:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;}
    
    body{
        overflow-x: hidden;
    }
:root{
    --white-color: #fff;
    --background-color: #111213;
    --span-color:  #ffce00;}
a{
    text-decoration: none;
}
.image{
    width: 100%;
    height: 64vh;
    background-image: url(../../images/banner.png) ;
    background-position: center;
    background-size: cover;
   
}
header{
    width: 100%;
    height: 10vh;
    padding: 50px 15%;
    align-items: center;
    background-color: #11121382;
    position: fixed;
    z-index: 2;
}
nav{
    display: flex;
    justify-content: space-between;
    flex: wrap;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 80px;
}
nav ul li{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 510;
}
nav a{
    color: var(--white-color);
    transition: .2s;
    font-weight: bolder;

}
nav a:hover{
    color: var(--span-color)
}
nav .menu-btn i {
color: #ffffff;
cursor: pointer;
display: none;
}
#letsTalk{
    border: 1px solid var(--span-color);
    padding: 10px;
}
#letsTalk:hover{
    background-color: var(--white-color);
    color: var(--background-color);
    border: none;
}
main{
    display: flex;
    padding: 50px 15%;
    align-items: center;
    background-color:var(--background-color);
    color: var(--white-color);
}
.image-png  {
    width: 60%;
}
main p{
    padding-bottom: 20px;
    max-width: 680px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #333;
}

.tecnology{
    width: 100%;
    height: 660px;
    padding: 100px 15%;
    background-color: #1d1e20;
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.text_tecnology{
    width: 50%;
    margin-right: 20px;
}
.image_tecnology{
    width: 50%;
    margin-left: 120px;
}
.tecnology h2{
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.bolder_text{
    font-weight: bolder;
}
.tecnology p{
    padding-bottom: 40px;
    max-width: 680px;
}
.image_tecnology img{
    width: 570px;
    height: 346px;
    position: absolute;
    z-index: 1;
}
.box{
    position: relative;
    left: 120px;
    bottom: 32px;
    width: 580px;
    height: 400px;
    background-color: #ffce00; 
}
.pilars{
    width: 100%;
    background-color:var(--background-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 100px 15%;
}
.pilars h1{
    font-size: 2.6rem;
    margin-bottom: 110px;
}
.pilars-imgs{
    display: flex;
    justify-content: space-between;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease;
    justify-content: center;
    padding: 0 10px;
}
.img:hover{
    background-color: #1d1e20;
    cursor: pointer;
    height: 250px;
    border-radius: 15px;
    scale: 1.1;
   
}
.img p{
    max-width: 210px;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}
.img img{
    width: 98px;
    height: 98px;
}
.carrosel .slick-track{
    display: flex;
    gap: 20px;
}
.carrosel img{
    max-width: 100%;
}
.section-partners{
    width: 100%;
    padding: 50px 15% 120px;
    color: #fff;
    background-color: #111213;
}
.section-partners h1{
    font-size: 2.6rem;
    margin-bottom: 50px;
}
.carrosel .slick-arrow{
    inset: unset;
    bottom: -110px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--span-color);
    transition: all;
}
.carrosel .slick-arrow:hover{
    background-color: #000000;
}
.carrosel .slick-arrow::before{
    content: '';
    background: url(../../images/right.svg);
    width: 17px;
    height: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carrosel .slick-arrow.slick-prev{
    right: 70px;
}
.carrosel .slick-arrow.slick-prev::before{
    transform: translate(-50%, -50%) rotate(180deg);
}
.carrosel .slick-next{
    right: 0;
}
.boxtextCarrousel{
    background-color: var(--white-color);
    color: var(--background-color);
    padding: 20px;
    cursor: pointer;
    transition: .2s ease;
}
.boxtextCarrousel h3{
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 1.4rem;
}
.boxtextCarrousel a{
    font-weight: bold;
    color: #111213;
    font-size: 1.1rem;
    transition: .2s ease;
    border-bottom: 2px solid #ffce00;
    padding: 5px;
}
.boxtextCarrousel:hover{
    background-color: var(--background-color);
    color: #fff;
}
.boxtextCarrousel:hover a{
    color: #ffce00;
}
.Section-Offices{
    background-color: #1d1e20;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 100px 15%;
}
.Section-Offices h1{
    font-size: 2.6rem;
    margin-bottom: 40px;
}
.Section-Offices p{
    line-height: 30px;
    max-width: 1186px;
    margin-bottom: 30px;
}
.image-office{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.image-office img{
    max-width: 100%;
    height: 460px;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 15%;
    color: #fff;
    background-color: #1d1e20;
}
.footer-text h2{
    margin-bottom: 15px;
}
.footer-text p{
    margin-bottom: 20px;
    line-height: 28px;
}
.footer-text a{
    color: #ffce00;
    transition: .2 ease;
    font-weight: bold;
}
.footer-text a:hover{
    color: #fff;
}
.Credits{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15%;
    color: #fff;
    background-color: #111213;;
} 
.Credits a{
    color: #ffce00;
}
.social-media{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
.social-media img{
    width: 30px;
    height: 30px;
}

@media(max-width: 1390px){
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #2d2d2da9;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    .image-png img {
        display: flex;
        width: 100%;
    }
    main{
        display: flex;
        flex-direction: column-reverse;}
    .tecnology{
        display: flex;
        flex-direction: column;
        height: 940px;
        }
        .text_tecnology{
            width: 100%;
        }
        .image_tecnology{
            width: 100%;
        }
    .text_tecnology{
        margin-bottom: 100px;
    }
    .pilars-imgs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pilars h1{
        text-align: center;
        margin-bottom: 40px;
    }
    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 80px;
    }
    .section-partners{
        width: 100%;
        height: 100vh;
        padding: 50px 15%;
        color: #fff;
        background-color: #1d1e20 ;
    }
    footer{
        display: flex;
        flex-direction: column;
}
}

@media(max-width: 912px)
{
    body{
        overflow-x: hidden;
    }
    .image_tecnology img{
        width: 550px;
        margin:auto;
        margin-right: 120px;
    }
    .box{
        position: relative;
        left: 35px;
        width: 570px;
        height: 400px;
        margin-right: 100px;
        background-color: #ffce00;
    }
    .tecnology{
        height: 1000px;
        }
    .image-office img{
        height: auto;
    }
    }
@media(max-width: 788px)
{
    .image_tecnology img{
        display: none;
    }
    .box{
        display: none;
    }
    .tecnology{
        height: 600px;
        }
}
@media(max-width: 543px){
    .tecnology{
        height: 800px;
        }
}
@media(max-width: 543px){
    .tecnology{
        height: 1100px;
        }
        video{
            display: none;
        }    
}
.spanColor{
    color: var(--span-color);
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 20px;}
    ::-webkit-scrollbar-track {
    background-color: #212223}
    ::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
     border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;}